<!-- Hero -->
<header>
  <h1>Material Animation Experiment</h1>
</header>

<!-- All Albums -->
<!-- <animated-page ng-repeat="album in home.albums"
  color="album.color"
  end="home.isEnd($index)"
  artist="album.artist"
  cover="album.cover"></animated-page> -->

<!-- Album Cover List -->
<a persist
   ng-href="{{home.getDestination(album.id)}}"
   class="album-cover"
   ng-repeat="album in home.albums"
   ng-class="{ end: home.isEnd($index) }">

        <img ng-src="{{album.coverImg}}"/>

</a>