// ----------------------
// Album
// ----------------------

// UI Card
.ui {
  // float: left;
  // position: relative;
  // width: 50vw;
  // height: 25vw;
  // background-color: $yellow;

  position: fixed;
  bottom: 64px;
  left: 12.5%;
  width: 75%;

  opacity: 0;
  transform: scale3d(0, 1, 1);
  transform-origin: left center;
  @include transition(all cubic-bezier(0.61, 0.24, 0.28, 1.15) 600ms);

  h1 {
    margin-top: 2.5em;
    margin-bottom: 0.25em;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 40px;
  }

  h1, p {
    display: block;
    margin-left: 25vw;
    padding-left: 40px;
    width: 100%;
    opacity: 0;
    @include transition(opacity ease-in-out 300ms);
    @include transition-delay(600ms);
  }

  p {
    font-size: 20px;
    font-weight: 300;
  }

  &.expand {
    transform: scale3d(1, 1, 1);
    opacity: 1;

    h1,p { opacity: 1; }
  }
}
